{{- /* Page views indicator. Usage: partial "components/pageviews.html" . */ -}}
<span class="hx-inline-flex hx-items-center hx-gap-x-1" data-page-views data-slug="{{ .RelPermalink }}">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="hx-h-4 hx-w-4 hx-text-gray-500"><path d="M12 5c-7.633 0-11 7-11 7s3.367 7 11 7 11-7 11-7-3.367-7-11-7Zm0 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10Zm0-2.5A2.5 2.5 0 1 0 12 10a2.5 2.5 0 0 0 0 5Z"/></svg>
  <span aria-label="views">--</span>
</span>

